@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:1s ease-in-out;
}

@font-face {
    font-family: 'futurablack';
    src: url('futura_black-webfont.woff2') format('woff2'),
        url('futura_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.move-animation {
    animation: moveAnimation 8s infinite alternate;
}

@keyframes moveAnimation {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, -20px) rotate(6deg);
    }

    50% {
        transform: translate(-20px, 20px) rotate(-10deg);
    }

    75% {
        transform: translate(5px, 20px) rotate(5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}


.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 60px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

input {
    display: none;
}

input:checked+label {
    width: 200px;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
@media screen and (min-width:1000px) {
    input:checked+label {
        width: 520px;
    }
}






.container {
    width: 100%;
    min-height: 70%;
    background: linear-gradient(#fff2, transparent);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 15px;
}

.carousel-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s ease-in-out;
}

.teamcard {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    perspective: 1000px;
    justify-content: center;
    align-items: center;
}

.card-inner {
    width: 300px;
    height: 350px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front,
.back {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background: url(Images/Dev-01.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Merriweather';
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */
}
.front2{
    background:url(Images/Dev-02.jpg);
    background-size:cover;
    background-position: center;
}
.front3{
    background:url(Images/Dev-03.jpg);
    background-size:cover;
    background-position: center;
}
.front h2 {
    font-weight: 500;
    font-size: 14px;
}

.front p {
    color: #a5a5a5;
    font-size: 11px;
}

.front button {
    font-size: 11px;
    width: 85px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 20px;
    padding: 4px 2px;
    cursor: pointer;
    margin-top: 7px;
}

.back {
    background: #fff;
    color: #333;
    padding: 20px 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: rotateY(180deg);
}

.back h1 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 5px;
    font-weight: 900;
}

.back span {
    font-weight: 100;
    font-size: 28px;
}

.back p {
    font-size: 13px;
}

.back>img {
    width: 80px;
}

.row {
    margin-top: 10px;
    display: flex;
}

.col {
    text-align: center;
    color: #555;
    margin: auto;
    font-size: 11px;
    position: relative;
}

.col h2 {
    font-weight: 900;
    font-size: 15px;
}

.col::after {
    content: '';
    width: 1.5px;
    height: 10px;
    background: #7800ad;
    position: absolute;
    top: 8px;
    right: 0;
}

.col:last-child::after {
    display: none;
}

.col p {
    margin-top: 2px;
}

.back button {
    background: #7800ad;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 3px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 9px rgba(120, 0, 173, 0.3);
}

.back a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.back a img {
    width: 50%;
}

.teamcard:hover .card-inner {
    transform: rotateY(180deg);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: 50px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
